*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url(image/target.svg), pointer;
}

.target{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
}
.title{
    color:#00838F;
    font-weight: bolder;
}
.modal-wrapper{
display: flex;justify-content: center;flex-direction: column;align-items: center;
}
